{
  "parser": "babel-eslint",
  // https://www.npmjs.com/package/eslint-config-airbnb
  "extends": "airbnb",
  // custom rules
  "rules": {
    "comma-dangle": 0,
    "max-len": [2, 100, 2, {
      "ignoreComments": true,
      "ignoreUrls": true,
      "ignorePattern": "^const [A-Z\\_]+\\s?="
    }]
  }
}
