.application-layout {
  display: flex;
  flex-flow: column nowrap;
}

.main-container {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

.left-sidebar-container {
  min-width: 250px;
  transition: all 1s;
  background: darken(#fff, 5%);
  border-right: 1px solid darken(#fff, 15%);
}

.content-container {
  width: 100%;
}

