$body-bg: #fff;
$font-size-base: 14px;
$line-height-base: 1.40;
$line-height-computed: floor($font-size-base * $line-height-base);
$table-bg: transparent;
$table-cell-padding: 8px;
$table-border-color: #ddd;
